@using AzDevOpsBlazorExtension.Models;
@using System.Text.Json;
@inject IJSRuntime jsRuntime
@page "/"
@page "/index"
@page "/index.html"

<PageTitle>Index</PageTitle>
@if (user is not null)
{
    <h1>Hello, @user.DisplayName!</h1>
}
else
{
    <h1>Hello, World!</h1>
}

<p>
    Welcome to your new Azure DevOps extension!
</p>

@code{
    AzureDevOpsUser user = null!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await jsRuntime.InvokeAsync<AzureDevOpsUser>("getUser");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Cannot get user: " + ex.Message);
        }
    }
}


