@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="index">Home</a>
            <a href="counter">Counter</a>
            <a href="fetchdata">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
